.main-sections .section-lorem h3 {
    font-weight: 700;
    line-height: 1.172;
    text-transform: uppercase;
    margin-top: 0;
}

.main-sections .section-lorem p {
    line-height: 1.714;
    margin-bottom: 0;
  }

  .main-sections .section-lorem li {
    flex-basis: 270px;
  }
  