.footer {
    background-color: var(--color-bg-main);
}

.footer-info__link,
.footer-info__adress {
    line-height: 1.714;
}

.footer-info__link {
    color: var(--color-contact-transp);
}

.footer .container {
    padding-left: 15px;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
}

.footer-info__logo {
    color: var(--color-white);
}

.footer-info__lists,
.socials__lists {
    padding-left: 0;
}

.socials__lists {
    display: flex;
}

.footer-info__list--margin-bottom {
    margin-bottom: 9px;
}

.footer-info__adress {
    color: var(--color-white);
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 9px;
    letter-spacing: 0.03em;
}

.footer-info__link:hover,
.footer-info__link:focus {
    color: var(--color-logo);
}

.socials {
    color: var(--color-white);
    text-transform: uppercase;
    margin-left: 70px;
    padding-top: 12px;
    font-size: 0;
}

.socials__title {
    letter-spacing: 0.03em;
    line-height: 1.142;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
}

.social-icon {
    fill: var(--color-white);
    background-color: var(--color-bg-social);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon--bgc-white {
    fill: var(--color-social);
    background-color: var(--color-white);
}

.social-icon:hover,
.section-team__link:focus .social-icon,
.socials__link:focus .social-icon {
    fill: var(--color-white);
    background-color: var(--color-logo);
}

.socials__list--margin-left {
    margin-left: 10px;
}

.newsletter {
    margin-left: 78px;
    padding-top: 12px;
}

.newsletter__title {
    color: var(--color-white);
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.newsletter__input {
    background-color: var(--color-bg-main);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 358px;
    height: 50px;
    padding-left: 16px;
    color: var(--color-contact-transp);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.newsletter__input:focus,
.newsletter__input:hover {
    border: 1px solid var(--color-logo);
    outline: none;
}

.newsletter__button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    width: 200px;
    height: 50px;
    background-color: var(--color-logo);
    color: var(--color-white);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.06em;
    line-height: 1.875;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter__button:hover {
    background-color: var(--color-logo-dark);
}

.newsletter__icon {
    position: relative;
    fill: var(--color-white);
    left: 10px;
    top: 4px;
}