.section-do {
    padding-top: 0;
}

.section-do__title {
    margin-top: 0;
    margin-bottom: 50px;
}

.section-do__lists {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
}

.section-do__list {
    position: relative;
}

.section-do__div-text {
    position: absolute;
    bottom: 3px;
    background-color: var(--color-bg-main);
    opacity: 0.8;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-do__text {
    color: var(--color-white);
    line-height: 1.142;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}