.section-clients__title {
    line-height: 1.172;
    letter-spacing: 0.03em;
    margin: 0 0 50px;
}

.section-clients__lists {
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.section-clients__list {
    border: 1px solid var(--color-social);
    height: 92px;
    width: 170px;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-clients__icon {
    fill: var(--color-social);
    height: 70px;
    width: 120px;
    margin-left: 20px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-clients__list:hover,
.section-clients__list:focus-within {
    border: 1px solid var(--color-logo);
    cursor: pointer;
}

.section-clients__list:hover .section-clients__icon,
.section-clients__link:focus .section-clients__icon {
    fill: var(--color-logo);
}